---
interface PropsPortafoly {
  image: string;
  title: string;
  description: string;
  linkDemo?: string;
}

const propsPortafoly: PropsPortafoly[] = [
  {
    image: "https://i.imgur.com/3ZQ3Z4V.png",
    title: "Portafolio",
    description: "Portafolio de proyectos",
    linkDemo: "https://portafolio-ten.vercel.app/",
  },
  {
    image: "https://i.imgur.com/3ZQ3Z4V.png",
    title: "Portafolio",
    description: "Portafolio de proyectos",
    linkDemo: "https://portafolio-ten.vercel.app/",
  },
  {
    image: "https://i.imgur.com/3ZQ3Z4V.png",
    title: "Portafolio",
    description: "Portafolio de proyectos",
    linkDemo: "https://portafolio-ten.vercel.app/",
  },
];
---

<section>
  <h1>Portafoly</h1>
  {
    propsPortafoly.map((portafoly) => (
      <article>
        <img src={portafoly.image} alt={portafoly.title} />
        <h2>{portafoly.title}</h2>
        <p>{portafoly.description}</p>
        <a href={portafoly.linkDemo}>Demo</a>
      </article>
    ))
  }
  <button>Ver más</button>
</section>
